snippet d "Debugger statement" b
debugger;
endsnippet

snippet cl "Console Log" b
console.log($1);
endsnippet

snippet todo "TODO reminder" b
//TODO(`whoami`): $1
endsnippet

snippet fix "FIX reminder" b
//FIX(`whoami`): $1
endsnippet
