set ignorecase
set smartcase
set scrolloff=3         " 3 lines above/below cursor when scrolling
set incsearch
set hlsearch
set history=1000
set autoreload

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

set surround
nnoremap <Space>vs :source ~/.ideavimrc<CR>

set visualbell
set noerrorbells

let mapleader = ","

" Visual linewise up and down by default
noremap j gj
noremap k gk

nmap <C-h> <c-w>h
nmap <C-l> <c-w>l
nmap <C-k> <c-w>k
nmap <C-j> <c-w>j
nnoremap <cr> :nohlsearch<cr>

"cursor movement in insert mode
imap <c-h> <left>
imap <c-k> <up>
imap <c-j> <down>
imap <c-l> <right>

nnoremap <s-h> gT
nnoremap <s-l> gt

nnoremap w [w
nmap dw d[w
nmap cw c[w
nmap vw v[w
nnoremap b [b
nnoremap r :action $Redo<CR>

nmap gcc Vgc
vmap gc :<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action CommentByLineComment<cr>

nnoremap <S-cr> :action EditorSplitLine<cr>
nnoremap <leader>w :w<cr>
nnoremap <leader>q :wq<cr>
" Reformat whole file
nnoremap <leader>ff :action ReformatCode<CR>

nnoremap <leader>gg :action Vcs.QuickListPopupAction<cr>
nnoremap <leader>zz :action ToggleDistractionFreeMode<cr>

nnoremap [ :action Back<cr>
nnoremap ] :action Forward<cr>
nnoremap <leader>v :vsplit<cr>
nnoremap <leader>h :split<cr>
nnoremap <leader>d :action GotoDeclaration<cr>
nnoremap <leader>i :action GotoImplementation<cr>
nnoremap <leader>u :action ShowUsages<cr>
nnoremap <leader>U :action FindUsages<cr>

nnoremap <leader>p :action GotoFile<cr>
nnoremap <leader>c :action GotoClass<cr>
nnoremap <leader>s :action FileStructurePopup<cr>
nnoremap <leader>. :action GotoAction<cr>
nnoremap <space>s :action AceAction<cr>
nnoremap <leader>e :action ShowErrorDescription<cr>
nnoremap <leader>, :action VimFilePrevious<cr>

nnoremap <S-k> :action MoveLineUp<cr>
nnoremap <S-j> :action MoveLineDown<cr>
nnoremap <S-y> :action EditorJoinLines<cr>

nnoremap <leader>t :action ShowIntentionActions<CR>
nnoremap <leader>rr :action RenameElement<CR>
nnoremap <leader>o :action QuickList.MyList<CR>
nnoremap g/ :action Find<cr>
